<div class="main">
    
    <nav class="sidebar">
        <ul class="side-nav">
           <li class="side-nav__item side-nav__item--active">
               <a href="#" class="side-nav__links">
                  <svg class="side-nav__icon">
                   <use xlink:href="assets/videos/sprite1.svg#icon-home"></use> 
                  </svg>
                  <span >Home</span>
               </a>
           </li>
           <li class="side-nav__item">
              <a href="#" class="side-nav__links">
                 <svg class="side-nav__icon">
                     <use xlink:href="assets/videos/sprite.svg#icon-buoy"></use> 
                 </svg>
                 <span>Explore</span>
              </a>
          </li>
          <li class="side-nav__item" >
              <a href="#" class="side-nav__links" [routerLink]="['/vid/shorts']">
                 <svg class="side-nav__icon">
                     <use xlink:href="assets/videos/sprite.svg#icon-bolt"></use> 
                 </svg>
                 <span>Shorts</span>
              </a>
          </li>
          <li class="side-nav__item">
              <a href="#" class="side-nav__links">
                 <svg class="side-nav__icon">
                     <use xlink:href="assets/videos/sprite.svg#icon-radio"></use> 
                 </svg>
                 <span>subscription</span>
              </a>
          </li>
    
          <li class="side-nav__item side-nav_--b">
              <a href="#" class="side-nav__links">
                 <svg class="side-nav__icon">
                     <use xlink:href="assets/videos/sprite.svg#icon-wallet"></use> 
                 </svg>
                 <span>libriary</span>
              </a>
          </li>
          <li class="side-nav__item">
             <a href="#" class="side-nav__links">
                <svg class="side-nav__icon">
                    <use xlink:href="assets/videos/sprite.svg#icon-reload"></use> 
                </svg>
                <span>History</span>
             </a>
         </li>
         <li class="side-nav__item">
             <a href="#" class="side-nav__links">
                <svg class="side-nav__icon">
                    <use xlink:href="assets/videos/sprite.svg#icon-time"></use> 
                </svg>
                <span>Watch Later</span>
             </a>
         </li>
         <li class="side-nav__item">
             <a href="#" class="side-nav__links">
                <svg class="side-nav__icon">
                    <use xlink:href="assets/videos/sprite.svg#icon-heart"></use> 
                </svg>
                <span>Liked Videos</span>
             </a>
         </li>
          <li class="side-nav__item">
           <a href="#" class="side-nav__links">
              <svg class="side-nav__icon">
                  <use xlink:href="assets/videos/sprite.svg#icon-indent-increase"></use> 
              </svg>
              <span>Youtube</span>
           </a>
       </li>
       </ul>
    
        <div class="legal">
            <a href="#">
                about
            </a>
            <a href="#">
               contact us
           </a>
           <a href="#">
               terms privacy policies & safety
           </a>
           <a href="#">
              how Youtube works
           </a>
           &copy; 2022 by Youtube. All right reserved.
        </div>
    </nav>
    
    <shorts-list></shorts-list>
</div>
